body {
    font-family:'Liberation sans'; 
}

.menu-left, .menu-right {
  padding: 20px;
  display: inline-block;

}

#sign-in {
font-weight: 900;
padding:10px 15px;
border-radius: 3px;
background-color: #4386f8; 
color: white;
position: relative;
bottom: 5px;
left:20px;
}

.menu-left a, .menu-right a,footer a, .search a {
color: black;
text-decoration:none;
}

.menu-item {
    padding: 10px;
}
.menu-right {
float: right;
}

.search {
    display: table;
    margin: 0 auto;
    position: relative;
    top: 200px;
}
    
.search-buttons {
    margin: 40px;
}

.button {
 
    background-color: #f2f2f2;
    padding: 15px;
    margin: 5px;
    border-radius: 4px;

}

.header1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    clear: right;
    position: relative;
    top: 150px;

  }

#desperation {
    display: flex;
    width: 150%;
    position: relative;
    right: 27%;
    padding: 15px;
    border-radius: 30px;
}

#this {
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .footer-item {
      padding:15px;
  }

  .footer-left {
      padding-left: 5px;
  }