body {
    font-family:'Liberation sans'; 
}

.menu-left, .menu-right {
  padding: 30px;
  display: inline-block;

}

#sign-in {
font-weight: 900;
}


.menu-item {
    padding: 10px;
}
.menu-right {
float: right;
}

.search {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
    
}

.header1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .footer-item {
      padding:15px;
  }

  .footer-left {
      padding-left: 5px;
  }