body {
    font-family:'Liberation sans'; 
}

.menu-left, .menu-right {
  padding: 30px;
  display: inline-block;

}

#sign-in {
font-weight: 900;
padding:30px;
background-color: 
}


.menu-item {
    padding: 10px;
}
.menu-right {
float: right;
}

.search {
    display: table;
    margin: 0 auto;
    position: relative;
    top: 200px;
}
    


.header1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    clear: right;
    position: relative;
    top: 150px;
  }

#desperation {
    display: flex;
    width: 250%;
    position: relative;
    right: 50%;
    padding: 15px;
    border-radius: 30px;
}

#this {
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .footer-item {
      padding:15px;
  }

  .footer-left {
      padding-left: 5px;
  }